body{
    font-family: Montserrat,sans-serif;
    margin: 0 auto;
    width: 100%;

}
:root {
    --cobalt-tinge: #2B2E4A;
    --off-white: #F8F3D4;
    
    
  }
.header{
    margin: auto;
    color: #112031;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    background-color: #D4ECDD;
    padding-bottom: 1rem;
}
label{
    margin: auto;
    margin-bottom: 1.5rem;
    font-weight: bold;
    color: #152D35;
    font-size: 20px;
    
}

#bill-amt, #cash-given{
    
    margin: auto;
    width: 20rem;
    height: 2.5rem;
    border: 0.1rem solid #212121;
    
    border-radius: 0.75rem;
    border-width: 0.25rem;
    background-color: #D9CAB3;
    margin-bottom: 1.5rem;
    color:#152D35;
    font-weight: bold;

}

#check{
    margin: auto;
    width:10rem;
    padding: 1.25rem;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 2.5rem;
    border-width: 0.75rem;
    background-color: #345B63;
    color: white;

}
p{
    margin: auto;
    font-weight: bolder;
    font-size: 12px;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #212121;
}
header{
    margin: 2rem;
}

table, th, td {
    font-weight: bold;
    margin:auto;
    margin-left: 50px;
    margin-right: 50px;
    border-width: 1.5rem;
    margin-top: 5rem;
    width: 2rem;
    border-spacing: 15px;
    padding: 20px;
    
    border: 1px solid #152D35;
    border-collapse: collapse;
    table-layout:fixed;
    text-align: center;

  

  }
  tr
{
  line-height: 15px;
  
}

  /* thead th:nth-child(1) {
    width: 30%;
  } */
  
  
footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;   
    background-color: var(--off-white);   
}
h3 a{
    text-decoration: none;
    color: var(--off-white);
    padding: 0.21rem;
    border: 0.25rem solid var(--cobalt-tinge);
    border-radius: 0.25rem;
    background-color: var(--cobalt-tinge);
}