
:root {
    --white: #E7E6E1;
    --offwhite: #F7F6E7;
    --lightorange: #F2A154;
    --mildgreen: #314E52;
  }






body{
    font-family: 'Montserrat',sans-serif;
    color: var(--white);
    background-color: var(--lightorange);
    
    
}

#nav-bar{
    background-color: var(--white);
    width: 100%;
    color: var(--mildgreen);
    display: inline-block;
    
    padding: 30px;
    border-radius: 0px 0px 40px 0px;
    
}

h1,h4,p{
    display: flex;
    justify-content: center;
    
}
div{
    margin: auto;
}
section{
    display: flex;
    flex-direction: column;
    
    
}





#text-input, #output{
    width: 500px;
    height: 20vh;
    
    color:var(--white);
    background-color: var(--mildgreen);
    border:5px solid var(--white);
    border-radius: 15px 15px 15px 15px;
    border-color:var(--white) ;
    border-width: 5px;
    

}


::placeholder { 
    color: var(--white);
    font-weight: bold;
    text-align: center;
  }
button{
    padding: 20px;
    display: flex;
    justify-content: center;
    background-color:var(--mildgreen) ;
    color: var(--white);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    border-radius: 25px;
    border-color: var(--white);
    border-width: 5px;
}


a{
    text-decoration: none;
    color: var(--mildgreen); 
    
}
h3{
    text-align: center;
    
}

#footer{
    background-color: var(--white);
    color: var(--mildgreen);
    padding: 50px;
    width: 100%;
    
    
}