:root{

  --mildgrey: #30475E;
  
}





.Emoji-App {
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  
}

input {
  padding: 0.25rem;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 25px;
  color: red;
  font-weight: bold;
  width: 50%;
}

#flap{
  background-color: black;
  display: flex;
  width: 60%;
  margin: auto;
  border-radius: 0px 0px 25px 25px;
}

#head-text {
  font-family: Helvetica;
  display: flex;
  font-weight: 900;
  font-size: 55px;
  color: #e62b1e;
  text-align: left;
  margin-left: 25px;


}
#head-text-2 {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 30px;
  color: white;
  text-align: right;
  margin: auto 25px auto auto;


}

#theme{

  width:60%;
  margin:auto;
  color: var(--mildgrey);
  font-family: 'Montserrat',sans-serif;
}

#nav{
  /* display: flex; */
  width:60%;
  margin:0 auto; 
  

}
ul{
  /* display: flex;
  flex-direction: row; */
  /* justify-content: space-between;   */
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: max-content;
  grid-column-gap: 35px;
  padding-left: 0%;
  
  /* width: 60%;
  padding-left: 0%;
  align-items: center; */
  
}

li{
  list-style: none;
  color: white;  
  background-color: var(--mildgrey);
  font-weight: bolder;
  font-family: 'Montserrat',sans-serif;
  /* padding: 2% 5% 2% 5%; */
  padding: 2%;
  border: 4px solid var(--mildgrey);
  border-radius: 2.5rem;
  /* margin-right: 25px;  */
  /*margin-left: 0%; */
  
}

button{
  color: white; 
  background-color: var(--mildgrey);
  font-weight: bold;
  font-family: 'Montserrat',sans-serif;
  font-size: 110%;
  border:none;
  background-color:transparent;
  outline:none;
  cursor: pointer;
}

#lists {
  
  margin: auto;
  width: 60%;

}