.Emoji-App {
  font-family: 'Montserrat',sans-serif;
  text-align: center;
}

input {
  padding: 0.25rem;
  margin-top: 20px;
  margin-bottom: 15px;
  border-radius: 25px;
  color: red;
  font-weight: bold;
  width: 50%;
}

#flap{
  background-color: black;
  display: flex;
  width: 60%;
  margin: auto;
  border-radius: 0px 0px 25px 25px;
}

#head-text {
  font-family: Helvetica;
  display: flex;
  font-weight: 900;
  font-size: 55px;
  color: #e62b1e;
  text-align: left;
  margin-left: 25px;


}
#head-text-2 {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 30px;
  color: white;
  text-align: right;
  margin: auto 25px auto auto;


}

#theme{

  width:60%;
  margin:auto;
}

#nav{
  display: flex;
  width:60%;
  margin:auto;

}

li{
  list-style: none;
  display: inline;
}