:root{

  --mildgrey: #30475E;
  
}





.ted-App {
  font-family: 'Montserrat',sans-serif;
  text-align: center;
  
}



#flap{
  background-color: black;
  display: flex;
  width: 60%;
  margin: auto;
  border-radius: 0px 0px 25px 25px;
}

#head-text {
  font-family: Helvetica;
  display: flex;
  font-weight: 900;
  font-size: 55px;
  color: #e62b1e;
  text-align: left;
  margin-left: 25px;


}
#head-text-2 {
  font-family: Helvetica;
  font-weight: 700;
  font-size: 30px;
  color: white;
  text-align: right;
  margin: auto 25px auto auto;


}
p{
  font-weight: bolder;
  font-size: 120%;

}
#theme{

  width:60%;
  margin:auto;
  color: var(--mildgrey);
  font-family: 'Montserrat',sans-serif;
}

#nav, #lists{
  
  width:60%;
  margin:0 auto; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  
  

}

#lists{
  align-items: center;
}
 

li{
  list-style: none;
  color: white;  
  background-color: var(--mildgrey);
  font-weight: bolder;
  
  
  padding: 1.5rem;
  border: 4px solid var(--mildgrey);
  border-radius: 0.75rem;
  text-align: center;
  width: 90%;
  margin: 1rem 1rem 1rem 1rem;
  /* margin-right: 25px;  */
  /*margin-left: 0%; */
  
}

/* button{
  color: white; 
  background-color: var(--mildgrey);
  font-weight: bolder;
  
  font-size: 110%;
  border:none;
  
  outline:none;
  cursor: pointer;
} */




