body{
    font-family: Montserrat,sans-serif;
    
}

h1{
    margin: auto;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
    
    /*  */
    /* margin-left: 10rem; */
}

label{
    
    text-align: center;
    
    font-weight: bolder;

    
    margin-top: 1rem;
    margin-bottom: 1rem;
    

}

input{
    margin: auto;
    font-weight: bold;
    border: 0.25rem solid black;
    border-radius: 0.5rem;
    width: 10%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    /* width: 40%; */
}

#check{
    margin: auto;
    width:10rem;
    margin-top: 5rem ;
    padding: .25rem;
    font-weight: bolder;
    font-size: 16px;
    border-radius: 2.5rem;
    border-width: 0.5rem;
    /* background-color: ;
    color: ;*/
} 